.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

android/.gradle/
android/local.properties
android/**/build/

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcuserdata/

.idea/
.vscode/
*.iml

.DS_Store
*.log